<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Menu : </h2>
    <ul>
      <li><a href="/pokemon">Accueil</a></li>
      <li><a href="/pokemon/my/favoris">Mes favoris</a></li>
    </ul>
    <h1><%= title %></h1>
    <ul>
      <% pokemons.forEach(function(pokemon) { %>
        <li> <a href="/pokemon/<%= pokemon.name%>"><%= pokemon.name%></a></li>
      <% }); %>
    </ul>
  </body>
</html>
